.timesheet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-bg-color);
    height: 70vh;
    width: 100%;
  }

  &__total-hours {
    position: absolute;
    bottom: -3.333rem;
    right: 320px;
    color: var(--font-color);
    font-size: 16px;
    line-height: 20px;
  }
}
